<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- 指令是带有v-前缀的特殊属性 -->
    <!-- 指令用于在表达式的值改变时，将某些行为应用到DOM上 -->
    <div id="app">
        <p v-if="seen">现在你可以看见我了</p>
        <template v-if="ok">
            <h1>你好</h1>
            <p>打字好辛苦</p>
            <p>哈哈哈哈</p>    
        </template>
    </div>

    <script>
        new Vue({
            el:'#app',
            data:{
                seen:false,
                ok:true
            }
        })
    </script>
</body>
</html>